* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: green;
  --main-padding: 0 2rem;
}

body {
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

.App {
  padding: var(--main-padding);
  display: grid;
  grid-gap: 3rem;
}

header {
  height: 8vh;
  background: rgb(205, 205, 205);
  margin: 0 -2rem;
}