* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: green;
  --main-padding: 0 2rem;
}

body {
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  background: url(http://img15.deviantart.net/6cbb/i/2011/362/d/c/mmxii_by_speedyroby-d4kgw82.jpg) no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.App {
  padding: var(--main-padding);
}

