form,
label,
.result {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 2rem 0;
}

label h2 {
    font-weight: 500;
}

input {
   padding: .7rem;  
}

.result {
    width: 50%;
    background: rgb(205, 205, 205);
    margin: 0 auto;
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
}

.error-msg {
    padding: 1rem;
    color: rgb(223, 5, 5);
    font-weight: 600;
}


@media (max-width: 560px) {
    .result {
        width: 80%;
    }
}